.project-card{
    justify-content: center;
    align-items: center;
    background-color: #c26969;
    margin-bottom: 30px;
    padding: 10px;
}

.project-link{
    background-color: rgb(139, 139, 230);
    padding: 2px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5%;
}

.project-links-container{

    margin-top: 10px;
}

.keen-slider {
    display: flex;
}
