@import "tailwindcss";

.app{
    display:grid;
    width: 75px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.window{
    width: 50%;
    height: 100%;
    background-color: aliceblue;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.window-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1051df;
}

.window-content{
    padding: 10px;
    color: black;
    overflow-y: auto;
    max-height: calc(100% - 40px); 

}


/*Scroll bar*/

.window-content::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

.window-content::-webkit-scrollbar-track {
    background: #b3b2b2;
}

.window-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.window-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #36a0d1ab;
        color: white;
    }
}