:root{
    --primary-color: #584b53;
    --secondary-color: #9d5c63;
    --tertiary-color: #d6e3f8;
    --quaternary-color: #fef5ef;
    --quinary-color: #e4bb97;
    --font-family: 'Roboto', sans-serif;
}